.fixtures
  li
    div
      display: inline-block
      padding: 10px
      margin-bottom: 10px
    .home, .away
      width: 140px
      cursor: pointer
    .home
      text-align: right

  .disable-home-team .home, .disable-away-team .away
    background: #eee
    color: #aaa

  .home .home, .away .away
    background: #ccc
    color: #333
    cursor: default

.is-round-closed
  .fixtures
    div
      cursor: default
