.fixtures
  li
    clear: both
    a, div
      display: block
      padding: 10px
      margin-bottom: 10px
      float: left
    a:active
      background: #888
      color: #fff  
    .home, .away
      cursor: pointer
      width: 45%
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .home
      text-align: right
      @include border-radius(0px 3px 3px 0px)
    .away
      @include border-radius(3px 0px 0px 3px)
    .vs
      text-align: center
      width: 10%


  .disable-home-team .home, .disable-away-team .away
    background: $secondary-bg-color
    color: #aaa
    cursor: default

  .home .home, .away .away, .home.selecting, .away.selecting
    background: #666
    color: #fff
    cursor: default

.is-round-closed
  .fixtures
    .disable-home-team .home, .disable-away-team .away
      background: $secondary-bg-color
      color: #aaa
    a, a:active  
      color: #888
      background: #fff  
      cursor: default
    .correct.home .home, .correct.away .away
      background: $success-color
      color: #fff
    .incorrect.home .home, .incorrect.away .away
      background: $alert-color  
      color: #fff

