.round-container
  .header
    +horizontal-list
    margin: 0
    padding: 0.5em 1em
    background: $secondary-bg-color

  .previous, .next
    width: 14%
    a
      display: block
      color: #666
      text-align: center
      line-height: 38px
      &:active
        color: #333
      i
        line-height: 50px
  .next
    text-align: right

  .title
    width: 70%
    text-align: center
    h2
      margin: 0.2em 0
      color: #555

  .round-close-message
    margin: 0 0 1em 0
    padding: 5px
    background: $success-color
    color: #fff
    text-align: center

  &.is-round-closed
    color: $secondary-color
    .round-close-message
      background: $alert-color
