.round-container

  .nav
    li
      width: 180px
      a
        background: #eee
        padding: 5px

  .round-close-message
    margin: 1em 0
    padding: 5px
    background: #eee
    color: #277800

  &.is-round-closed
    .round-close-message
      color: #E12400