---
http_interactions:
- request:
    method: get
    uri: http://sports.playup.com/competitions/26
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/vnd.playup.sport.competition+json
      Etag:
      - '"8571cfa835655f41c2f1bfaccc1f3071"'
      Status:
      - '200'
      X-Playup-Cache-Id:
      - competition-26
    body:
      encoding: UTF-8
      string: '{":self":"http://sports.playup.com/competitions/26",":type":"application/vnd.playup.sport.competition+json",":uid":"competition-26","name":"Premier
        League","short_name":"Premier League","descriptor":"Football - Premier League
        - England","region":"England","topic":{":href":"http://injector.graph.playup.com/topics/1",":type":"application/vnd.playup.topic+json"},"ancestors":[{":self":"http://sports.playup.com/sports/3",":type":"application/vnd.playup.sport.sport.football+json",":uid":"sport-3"},{":self":"http://sports.playup.com/sports",":type":"application/vnd.playup.sport.sports+json",":uid":"sports"}],"logos":[{"density":"low","href":"http://sdimages.playup.com/league-logos/football/competition-26_1333435081_70x70.png"},{"density":"medium","href":"http://sdimages.playup.com/league-logos/football/competition-26_1333435081_105x105.png"},{"density":"high","href":"http://sdimages.playup.com/league-logos/football/competition-26_1333435081_140x140.png"}],"rated_contests":{":self":"http://sports.playup.com/competitions/26/rated_contests",":type":"application/vnd.playup.collection+json",":uid":"competition-26-rated_contests"},"standings":{":self":"http://sports.playup.com/competitions/26/standings",":type":"application/vnd.playup.collection+json",":uid":"competition-26-standings"},"sport":{":self":"http://sports.playup.com/sports/3",":type":"application/vnd.playup.sport.sport.football+json",":uid":"sport-3"},"current_stage":{":self":"http://sports.playup.com/competitions/26/stages/16",":type":"application/vnd.playup.sport.stage.home_away+json",":uid":"competition-26-stage-16"},"stages":{":self":"http://sports.playup.com/competitions/26/stages",":type":"application/vnd.playup.collection+json",":uid":"competition-26-stages"},"live_contests":0,"live":{":self":"http://sports.playup.com/competitions/26/live",":type":"application/vnd.playup.sport.competition.summary+json",":uid":"competition-26-live"},"current_season":{":self":"http://sports.playup.com/competitions/26/current_season",":type":"application/vnd.playup.sport.season+json",":uid":"competition-26-season"},"rounds":{":self":"http://sports.playup.com/competitions/26/rounds",":type":"application/vnd.playup.collection+json",":uid":"competition-26-rounds"},"current_round":{":self":"http://sports.playup.com/rounds/407356",":type":"application/vnd.playup.sport.round+json",":uid":"round-407356"},"teams":{":self":"http://sports.playup.com/competitions/26/teams",":type":"application/vnd.playup.collection+json",":uid":"competition-26-teams"}}'
  recorded_at: Sun, 04 Aug 2013 05:35:46 GMT
recorded_with: VCR 2.5.0
