body
  background: #ccc
  height: 100%

#main
  background: $primary-bg-color
  position: absolute
  top: $header-height-phone
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  overflow-y: auto
  -webkit-transform: translateZ(0)
  -webkit-perspective: 1000
  -webkit-backface-visiblility: hidden
  -webkit-overflow-scrolling: touch

#main-wrapper
  width: 100%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  background: $primary-bg-color
  @include transition(all, 0.3s)
  -webkit-transform: translate3d(0,0,0)
  -webkit-transform: translateZ(0)
  -webkit-perspective: 1000
  -webkit-backface-visiblility: hidden
  &.navigation-visible
    left: 260px
    opacity: 0.5

#header
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $header-height-phone
  -webkit-transform: translate3d(0,0,0)
  -webkit-transform: translateZ(0)
  -webkit-perspective: 1000
  -webkit-backface-visiblility: hidden

  h1
    text-align: center
    color: $light-grey
    margin: 0 20px
    line-height: $header-height-phone
    font-size: 1em

#navigation
  position: absolute
  top: 0
  left: 0
  right: 0
  overflow: hidden
  -webkit-transform: translate3d(0,0,0)
  -webkit-transform: translateZ(0)
  -webkit-perspective: 1000
  -webkit-backface-visiblility: hidden

.application
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

.content, .form
  padding: 20px

ul.unstyled
  list-style: none
  margin: 0
  padding: 0

ul.horizontal
  list-style: none
  margin: 0
  padding: 0
  li
    display: inline-block

@include tablet
  .application
    position: relative
    overflow: visible
    border-top: 10px solid lighten($primary-color, 10)
    border-bottom: 10px solid darken($dark-grey, 10)
    &:after
      content: ""
      display: table
      clear: both
  #viewporter
    position: relative
    width: 768px
    background: $nav-bg-color-desktop
    border-bottom: none

  #navigation
    width: 230px
    float: right
    position: relative
    overflow: visible

  #main-wrapper
    position: relative
    width: 538px
    float: left
    overflow: visible

@include desktop
  #viewporter
    margin: 20px auto


