<%- content_for :head do %>

  <script>
    var currentUserId = <%= current_user.id %>;
    window.ENV = { EXPERIMENTAL_CONTROL_HELPER: true};
    var userData = <%= UserSerializer.new(current_user, scope: current_user).to_json.html_safe %>;
  </script>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "lastmanstanding" %>

<%- end %>

<div id="viewporter">
</div>