<section class="welcome">
  <h1>LAST MAN</h1>
  <h1>STAND.<i class="icon-male"></i>N</h1>
</section>

<section class='sign-up-or-in'>
  <%= link_to "New to Lastmanstand.in? Sign up", new_user_registration_path %>
  <hr/>
  <%= link_to "Already have an account? Log in", new_user_session_path %>
</section>
