.game-container
  .members
    > li
      border-bottom: 1px solid darken($secondary-bg-color, 10)
      background: $secondary-bg-color
      position: relative

    .avatar
      height: 80px
      display: block
      width: 80px

    .details
      bottom: 10px
      left: 100px
      position: absolute
      right: 10px
      top: 7px



    .knockout-message, .knockout-result
      font-size: 0.8em

    .lives
      li
        margin-right: 3px


