.game-container
  .pending-invitations

    h5, .actions
      margin: 0
      padding: 0.5em 1em
      color: #fff
      background: darken($secondary-bg-color, 30)
      @include clearfix
      line-height: 1.7em
      a
        display: block
        padding: 2px 8px
        background: darken($secondary-color, 20)
        color: #fafafa
        border-radius: $border-radius
    h5
      a
        float: right

    .actions
      font-size: 1.2em
      text-align: center
      i
        margin-right: 0.3em

    li
      padding: 0.8em 1em
      background: $secondary-bg-color
      border-bottom: 1px solid darken($secondary-bg-color, 10)

    .avatar
      width: 40px
      height: 40px

    .details
      left: 60px
      padding: 8px




