.fixtures
  li
    div
      display: inline-block
      padding: 10px
      margin-bottom: 10px
    .home, .away
      width: 140px
      cursor: pointer
    .home
      text-align: right


  .away .away, .home .home
    background: #ccc
