.game-container
  .nav
    +horizontal-list
    font-size: 0.8em
    background: #444
    li
      position: relative
      padding: 0
      width: 33.333%
    a
      padding: 10px
      display: block
      text-align: center
      background: #444
      color: #ccc
      &.active
        background: #666
        color: #fff