.game-container
  .nav
    +horizontal-list
    margin-bottom: 15px
    font-size: 0.8em

    li
      position: relative
      padding: 0
      width: 32%
    a
      padding: 10px
      display: block
      text-align: center
      background: #aaa
      color: #fff
      &.active
        background: #eee
        color: #333