.pending-invitations

  h5
    margin: 0
    padding: 0.5em 1em
    color: #fff
    background: darken($secondary-bg-color, 30)

  li
    padding: 0.8em 1em
    background: $secondary-bg-color
    border-bottom: 1px solid darken($secondary-bg-color, 10)