.game-container
  .pending-invitations

    h5
      margin: 0
      padding: 0.5em 1em
      color: #fff
      background: darken($secondary-bg-color, 30)
      @include clearfix
      line-height: 1.7em
      a
        display: block
        padding: 2px 8px
        float: right
        background: darken($secondary-color, 20)
        color: #fff
        border-radius: $border-radius

    li
      padding: 0.8em 1em
      background: $secondary-bg-color
      border-bottom: 1px solid darken($secondary-bg-color, 10)

    .avatar
      width: 40px
      height: 40px

    .details
      left: 60px
      padding: 8px