.game-container

  .rounds
    li
      background: $light-grey
      border-bottom: 1px solid #ddd
      &.correct .selection
        color: $success-color
      &.incorrect .selection
        color: $alert-color
      a
        padding: 15px
        display: block
        line-height: 1.2em

      .selection
        font-size: 0.8em
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
