
<ul class="fixtures unstyled">
{{#each fixture in fixtures}}
  {{#view LMS.FixtureItemView fixtureBinding="fixture" predictionsBinding="controller.predictions"}}
    <div class="home" {{action selectWinner fixture fixture.homeTeam}}>
      {{fixture.homeTeam.name}}
    </div>
    <div>vs</div>
    <div class="away" {{action selectWinner fixture fixture.awayTeam}}>
      {{fixture.awayTeam.name}}
    </div>
  {{/view}}
{{/each}}
</ul>