
<ul class="fixtures unstyled">
{{#each fixture in fixtures}}
  <li>
    <div class="home">{{fixture.homeTeam.name}}</div>
    <div>vs</div>
    <div class="away">{{fixture.awayTeam.name}}</div>
  </li>
{{/each}}
</ul>