<div class="game-edit">
  {{partial 'add_game_invitations'}}
  <div class="row actions">
    <button {{action cancel}} class="cancel secondary">Cancel</button>
    <button {{action sendInvitations}} class="submit primary" {{bindAttr disabled="isInvalid"}}>Send Invitations</button>
  </div>
</div>
