<div class="game-index">
  <h1>{{controller.name}}</h1>

  <ul class="members unstyled">
  {{#each gameMembership in controller.gameMemberships}}
    <li>
      <img {{bindAttr src="gameMembership.profile.gravatarImageUrl"}} class="avatar" />
      <div class="details">
        {{gameMembership.profile.name}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>