<div class="game-index">
  <h1>{{controller.name}}</h1>

  <ul class="members unstyled">
  {{#each profile in controller.members}}
    <li>
      <img {{bindAttr src="profile.avatarImageUrl"}} class="avatar" />
      <div class="details">
        {{profile.name}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>