<div class="game-index">
  <h1>{{controller.name}}</h1>

  <ul class="participants unstyled">
  {{#each gameParticipant in controller.gameParticipants}}
    <li>
      <img {{bindAttr src="gameParticipant.participant.gravatarImageUrl"}} class="avatar" />
      <div class="details">
        {{gameParticipant.participant.name}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>