<div class="pending-invitations">
  {{#if controller.length}}
    <h5>
      <span>Pending invitations</span>
      {{#linkTo 'game.edit' controllers.game.model}}<i class="icon-plus-sign-alt"></i>{{/linkTo}}
    </h5>

    <ul class="members unstyled">
      {{#each controller}}
        <li>
          <img {{bindAttr src="avatarImageUrlMedium"}} class="avatar" />
          <div class="details">
            {{displayName}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="actions">
      {{#linkTo 'game.edit' controllers.game.model}}<i class="icon-plus-sign-alt"></i>Invite players{{/linkTo}}
    </div>
  {{/if}}
</div>
