<ul class="rounds unstyled">
{{#each round in controller}}
  <li>
    {{#linkTo game.round round}}
      Round {{round.number}}: Starts {{date round.startDate format="ddd dd/MM/yyyy"}}
    {{/linkTo}}
  </li>
{{/each}}
</ul>