#header
  background: #1B67a0
  .logo
    margin-left: 1em
    color: #eee
  .nav-toggle
    display: none

@include phone
  #header
    .logo
      line-height: $header-height-phone
      text-align: center
      margin-left: 1em
      text-transform: uppercase
      font-weight: bold
      color: rgba(255, 255, 255, 0.5)

    .nav-toggle
      z-index: 100
      display: block
      position: absolute
      left: 8px
      top: 6px
      height: $header-height-phone - 12px
      padding: 0
      width: 25px
      border: none
      background: transparent
      .bar
        display: block
        background: #ddd
        @include border-radius(2px)
        margin-top: 5px
        padding: 2px
