<ul class="fixtures unstyled">
{{#each fixture in controller}}
  {{#view tagName="li" classNameBindings="fixture.homeOrAway disableHomeTeam disableAwayTeam selectionClass"}}
    <div class="home" {{action selectWinner fixture fixture.homeTeam}}>
      {{fixture.homeTeam.name}}
    </div>
    <div class="vs">
      vs
    </div>
    <div class="away" {{action selectWinner fixture fixture.awayTeam}}>
      {{fixture.awayTeam.name}}
    </div>
  {{/view}}
{{/each}}
</ul>