<div id="navigation">
  <ul class="games unstyled">
    {{#render 'nav_game_memberships'}}
      <li class="current-games"><i></i>
        <h4>Current Games</h4>
        <ul class="unstyled">
        {{#each game in currentGames}}
          <li>
            {{#linkTo 'game' game}}
              <div class="name">{{game.name}}</div>
            {{/linkTo}}
          </li>
        {{/each}}
        </ul>
      </li>
      <li class="completed-games"><i></i>
        <h4>Past Games</h4>
        <ul class="unstyled">
        {{#each game in pastGames}}
          <li>
            {{#linkTo 'game' game}}
              <div class="name">{{game.name}}</div>
            {{/linkTo}}
          </li>
        {{/each}}
        </ul>
      </li>
    {{/render}}
  </ul>
  <ul class="actions unstyled horizontal">
    <li>{{#linkTo "games.new"}}<i></i>New Game{{/linkTo}}</li>
    <li><a href="/users/sign_out" class="btn">Log out</a></li>
  </ul>
</div>
