{{partial 'app_navigation'}}

<div id="main-wrapper" {{bindAttr class="navigationVisible isPhone"}}>
  <div id="header">
    <button class="nav-toggle" {{action "toggleNavigation"}}>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

  </div>
  <div id="main">
      {{outlet}}
  </div>

</div>
