<h1>LAST MAN STANDING</h1>
<h2>Current Games</h2>
<ul class="games-list unstyled">
  {{#each gameMembership in currentProfile.gameMemberships}}
    <li>
      {{#linkTo 'game.current_round' gameMembership.game}}
        <div class="name">{{gameMembership.game.name}}</div>
      {{/linkTo}}
    </li>
  {{/each}}
</ul>


<h2>Invitations</h2>
<ul class="invitations-list unstyled">
  {{#each gameInvitation in currentProfile.gameInvitations}}
    <li>
      <div class="name">{{gameInvitation.game.name}}</div>
    </li>
  {{/each}}
</ul>