<h1>Games</h1>
<ul class="games-list unstyled">
  {{#each game in controller}}
    <li>
      <img {{bindAttr src="avatarUrl"}} class="avatar">
      <div class="name">{{game.name}}</div>
    </li>
  {{/each}}
</ul>