<h1>Your Invitations</h1>
<div class="game-invitations">
  <div class="info">
    You've been invited to a game or two. Accept your invitations to get started.
  </div>
  <ul class="invitations unstyled">
  {{#each invitation in controller}}
    <li {{bindAttr class="invitation.isActioned"}}>
      <div class="name">{{invitation.game.name}}</div>
      <div class="actions">
        <button {{action 'accept' invitation}} class="primary">Join Game</button>
        <button {{action 'dismiss' invitation}}>Dismiss</button>
      </div>
    </li>
  {{/each}}
  </ul>
</div>