<div class="content install-page">
  <h1>Install LastManStand.in</h1>
  <p>
    Improve the experience on your iphone by installing direct to your home screen.
  </p>
  <div class="footer">
    Tap the icon below to<br>
    'Add to Home Screen'<br>
    <i class="icon-arrow-down"></i>
  </div>
</div>