<li class="games"><i></i>
  <h2>Current Games</h2>
  <ul class="unstyled">
  {{#each game in currentGames}}
    <li>
      {{#linkTo 'game.current_round' game}}
        <div class="name">{{game.name}}</div>
      {{/linkTo}}
    </li>
  {{/each}}
  </ul>
</li>
<li class="games"><i></i>
  <h2>Completed Games</h2>
  <ul class="unstyled">
  {{#each game in completedGames}}
    <li>
      {{#linkTo 'game.current_round' game}}
        <div class="name">{{game.name}}</div>
      {{/linkTo}}
    </li>
  {{/each}}
  </ul>
</li>