$base-text-color: #333
$primary-color: #097BAC
$secondary-color: #b6b6b6
$success-color: #73C27D
$alert-color: #FA6254
$light-grey: #eee

body
  color: $base-text-color

a, a:visited
  text-decoration: none
  color: lighten($base-text-color, 10)

a:active 
  color: darken($base-text-color, 10)

h1
  font-size: 1.4em
h2
  font-size: 1.4em
h3
  font-size: 1.3em
h4
  font-size: 1.2em
h5
  font-size: 1.1em
