$base-text-color: #333
$primary-color: #379aff
$secondary-color: #b6b6b6
$success-color: #13c276
$alert-color: #ff4627



body
  color: $base-text-color

a, a:visited
  text-decoration: none
  color: $primary-color

h1
  font-size: 1.4em
h2
  font-size: 1.4em
h3
  font-size: 1.3em
h4
  font-size: 1.2em
h5
  font-size: 1.1em

@include phone

  h1
    text-align: center
    background: #3B97D0
    color: #eee
    margin: 0
    padding: 0.5em
