---
http_interactions:
- request:
    method: get
    uri: http://sports.playup.com/competitions/26/rounds/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/vnd.playup.collection+json
      Etag:
      - '"7d1db12a60db892b9a1b7408c3a40132"'
      Status:
      - '200'
      X-Playup-Cache-Id:
      - competition-26-rounds
    body:
      encoding: UTF-8
      string: '{":self":"http://sports.playup.com/competitions/26/rounds",":type":"application/vnd.playup.collection+json",":uid":"competition-26-rounds","items":[{":self":"http://sports.playup.com/rounds/407356",":type":"application/vnd.playup.sport.round+json",":uid":"round-407356","period":"Week","name":"1","start_date":"2013-08-17T11:45:00Z","end_date":"2013-08-19T19:00:00Z","ancestors":[{":self":"http://sports.playup.com/competitions/26",":type":"application/vnd.playup.sport.competition+json",":uid":"competition-26"},{":self":"http://sports.playup.com/sports/3",":type":"application/vnd.playup.sport.sport.football+json",":uid":"sport-3"},{":self":"http://sports.playup.com/sports",":type":"application/vnd.playup.sport.sports+json",":uid":"sports"}],"contests":{":self":"http://sports.playup.com/rounds/407356/contests",":type":"application/vnd.playup.collection+json",":uid":"round-407356-contests"}},{":self":"http://sports.playup.com/rounds/407357",":type":"application/vnd.playup.sport.round+json",":uid":"round-407357","period":"Week","name":"2","start_date":"2013-08-24T11:45:00Z","end_date":"2013-08-26T19:00:00Z","ancestors":[{":self":"http://sports.playup.com/competitions/26",":type":"application/vnd.playup.sport.competition+json",":uid":"competition[...]
