---
http_interactions:
- request:
    method: get
    uri: http://sports.playup.com/rounds/407356/contests
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/vnd.playup.collection+json
      Etag:
      - '"36416b4c11bc86434364ceb19975182a"'
      Status:
      - '200'
      X-Playup-Cache-Id:
      - round-407356-contests
    body:
      encoding: UTF-8
      string: '{":self":"http://sports.playup.com/rounds/407356/contests",":type":"application/vnd.playup.collection+json",":uid":"round-407356-contests","items":[{":self":"http://sports.playup.com/contests/20120423871",":type":"application/vnd.playup.sport.contest.football+json",":uid":"contest-20120423871","scheduled_start_time":"2013-08-17T11:45:00Z","last_modified":"2013-07-17T23:59:40Z","has_live_updates":true,"title":"Liverpool
        vs Stoke City","short_title":"LIV vs STO","round_label":"Week","round_name":"1","competition_name":"Premier
        League","region":"England","sport_name":"Football","ancestors":[{":self":"http://sports.playup.com/rounds/407356",":type":"application/vnd.playup.sport.round+json",":uid":"round-407356"},{":self":"http://sports.playup.com/competitions/26",":type":"application/vnd.playup.sport.competition+json",":uid":"competition-26"},{":self":"http://sports.playup.com/sports/3",":type":"application/vnd.playup.sport.sport.football+json",":uid":"sport-3"},{":self":"http://sports.playup.com/sports",":type":"application/vnd.playup.sport.sports+json",":uid":"sports"}],"associated_contests":{":self":"http://sports.playup.com/contests/20120423871/associated_contests",":type":"application/vnd.playup.collection+json",":uid":"contest-20120423871-associated_contests"},"scores":[{"total":0,"summary":"0","team":{":self":"http://sports.playup.com/teams/175",":type":"application/vnd.playup.sport.team+json",":uid":"team-175","display_name":"Liverpool","name":"Liverpool","short_name":"LIV","rated_contests":{":self":"http://sports.playup.com/teams/175/rated_contests",":type":"application/vnd.playup.collection+json",":uid":"team-175-rated_contests"},"contests":{":self":"http://sports.playup.com/teams/175/contests",":type":"application/vnd.playup.collection+json",":uid":"team-175-contests"},"logos":{"header":[{"density":"low","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_70x46.png"},{"density":"medium","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_105x69.png"},{"density":"high","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_140x92.png"}],"calendar":[{"density":"low","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_35x23.png"},{"density":"medium","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_53x35.png"},{"density":"high","href":"http://sdimages.playup.com/team-logos/football/football_liverpool_liv_1333421654_70x46.png"}]}}},{"total":0,"summary":"0","team":{":self":"http://sports.playup.com/teams/193",":type":"application/vnd.playup.sport.team+json",":uid":"te[...]
